html, body {
  padding: 0;
  margin: 0;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   width: 100%; 
   display: flex; 
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root{
color: white;
display: block;
/* padding-left: 7px;
padding-right: 10px; */
margin: 5rem;
/* background: chartreuse; */
backdrop-filter: blur(15px);
z-index: 0;
justify-content: center;
text-decoration-color: blue;
/* margin-left: 40%; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background{
  margin: 0rem;
  height: 100%;
  /* width:100% ; */
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.App{
  margin:0 auto;
  padding: 1em;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
  /* display: block; */
}

li {
  list-style: none;
}